.preview {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width: 768px) {
      width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__image {
      width: 100vw;
      height: 30vh;
      padding: 20px;

      margin-block: 5px;

      @media all and (min-width: 768px) {
        align-items: center;
        width: 60vw;
        height: 480px;
        margin-left: 20px;
      }
    }
    &__card {
      display: flex;
      flex-direction: row-reverse;
      width: 90vw;
      height: max-content;
      border-radius: 20px;
      justify-content: center;
      transform: translateY(-30%);
      align-items: flex-start;
      border: solid 5px white;
      padding: 15px;
      margin-bottom: 20px;

      @media all and (min-width: 768px) {
        width: max-content;
        height: max-content;
        padding: 20px;
        transform: translateY(-50%);
      }

      &--project {
        margin-left: 10px;

        .subtitle {
          font-size: 0.5em;
          text-align: right;

          @media all and (min-width: 768px) {
            font-size: 0.9em;
          }
        }

        .title {
          font-size: 1em;
          margin-top: 10px;

          @media all and (min-width: 768px) {
            font-size: 1em;
          }
        }

        .slogan {
          font-size: 8px;
          margin-top: 5px;

          @media all and (min-width: 768px) {
            font-size: 0.8em;
          }
        }

        .desc {
          font-size: 0.5em;
          margin-top: 15px;

          @media all and (min-width: 768px) {
            font-size: 12px;
            width: 10rem;
          }
        }

        .text {
          font-size: 10px;
          margin-top: 18px;
          display: flex;
          text-align: left;
          @media all and (min-width: 768px) {
            font-size: 14px;
            margin-top: 20px;
            padding-left: 0px;
          }
        }

        .technologies {
          font-size: 8px;
          display: flex;
          gap: 10px;
          align-items: baseline;
        }

        .icons {
          display: flex;
          font-size: 16px;
          color: black;
          gap: 5px;
        }
      }
      &--autor {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .imageProfile {
          width: 60px;
          height: 80px;
          background-size: cover;
          @media all and (min-width: 768px) {
            width: 160px;
            height: 160px;
            border-radius: 500px;
            padding: 10px;
          }
        }
        .job {
          font-size: 10px;

          @media all and (min-width: 768px) {
            font-size: 14px;
          }
        }
        .name {
          font-size: 12px;
          @media all and (min-width: 768px) {
            font-size: 18px;
          }
        }
      }
    }
  }

  .landing_card{
    transform: translateY(50%);
  }