<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Not Found</title>
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="header">
      <a href="https://proyectorium.onrender.com/">
        <img src="/solo-logo.png" alt="logo" class="header__logo" />
      </a>
      <p class="header__text">Proyectos Molones</p>
    </header>
    <section class="notfound">
      <iframe
        src="https://gifer.com/embed/8auK"
        width="480"
        height="319.500"
        frameBorder="0"
        allowFullScreen
      ></iframe>

      <h1>El proyecto que buscas no existe. Caso cerrado.</h1>
    </section>
  </body>
</html>
