.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    gap: 7px;

    @media all and (min-width: 768px) {
      width: 50vw;
    }

    .title {
      font-size: 30px;
    }

    .subtitle {
      font-size: 15px;
    }

    .project {
      border: none;
      gap: 7px;
    }

    .input {
      margin-bottom: 5px;
      border-radius: 10px;
      justify-content: flex-start;
      padding: 10px;
      width: 80vw;

      @media all and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: 30%;
      }
    }

    .textarea {
      margin-bottom: 5px;
      border-radius: 10px;
      justify-content: flex-start;
      padding: 10px;
      margin-bottom: 30px;
      width: 80vw;
      @media all and (min-width: 768px) {
        width: 30vw;
        height: max-content;
        margin-bottom: 10px;
      }
    }
  }

  .ask-info {
    .subtitle {
      font-size: 18px;
    }
  }

  .autor__fielset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 30px;
  }

  .buttons-img {
    border-radius: 20px;
    

    .btn {
      margin: 2px;
      padding: 2px;
      cursor: pointer;
      @media all and (min-width: 768px) {
        width: 200px;
        height: 30px;
      }
    }

    .btn-large {
      cursor: pointer;
      padding: 2px;
      @media all and (min-width: 768px) {
        width: 200px;
        height: 30px;
      }
    }
  }
